:root{
  background-image: url("./assets/MasterChurros.png");
}

.App {
  text-align: center;
}

.RealSinglePageAplication{
  width: 100vw;
  height: 100vh;
  
}

.MasterCentralApp{
  width: 320px;
  height: 320px;
  background-color: wheat;
  margin: 0 auto;
  border: 10px palevioletred dotted;
  border-radius: 30px;
}

.BOXIMPORTANTE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}