:root {
  background-image: url("./assets/MasterChurros.png");
}

.App {
  text-align: center;
}

.RealSinglePageAplication {
  width: 100vw;
  height: 100vh;
}

.MasterCentralApp {
  width: 320px;
  height: 320px;
  background-color: wheat;
  margin: 0 auto;
  border: 7px palevioletred dashed;
  border-radius: 30px;
}

.BOXIMPORTANTE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.middleDiv {
  display: flex;
  width: 130px;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 37px;
  border-radius: 5px;
  border: none;
  width: 185px;
  padding-left: 15px;
}

.btn {
  height: 37px;
  width: 37px;
  border-radius: 5px;
  border: none;
  background-color: palevioletred;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #e46f9f;
  transform: scale(1.1);
  transition: all 0.5s;
}

button {
  height: 37px;
  width: 115px;
  border-radius: 5px;
  border: none;
  background-color: #e46f9f;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: palevioletred;
  transform: scale(1.1);
  transition: all 0.5s;
}
