:root {
  background-image: url("./assets/MasterChurros.png");
}

.App {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
}

.RealSinglePageAplication {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MasterCentralApp {
  width: 320px;
  height: 320px;
  background-color: wheat;
  margin: 0 auto;
  border: 7px palevioletred dashed;
  border-radius: 30px;
  margin-bottom: 300px;
}

.BOXIMPORTANTE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.middleDiv {
  display: flex;
  width: 130px;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

input {
  height: 37px;
  border-radius: 5px;
  border: none;
  width: 185px;
  padding-left: 15px;
  margin-top: 13px;
}

.btn {
  height: 37px;
  width: 37px;
  border-radius: 5px;
  border: none;
  background-color: palevioletred;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #e46f9f;
  transform: scale(1.1);
  transition: all 0.5s;
}

button {
  height: 37px;
  width: 115px;
  border-radius: 5px;
  border: none;
  background-color: #e46f9f;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: palevioletred;
  transform: scale(1.1);
  transition: all 0.5s;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  background-image: linear-gradient(
    45deg,
    rgb(14, 103, 189) 0%,
    rgb(242, 37, 105) 0%,
    rgb(51, 145, 190) 71%,
    rgb(24, 19, 133) 92%,
    rgb(20, 38, 140) 95%
  );
  background-clip: text;
  color: transparent;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-image: linear-gradient(
    45deg,
    rgb(14, 103, 189) 0%,
    rgb(242, 37, 105) 0%,
    rgb(51, 145, 190) 71%,
    rgb(24, 19, 133) 92%,
    rgb(20, 38, 140) 95%
  );
  background-clip: text;
  color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
